#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BOOT &bootloader
#define BTSL &bt BT_SEL
#define BTDS &bt BT_DISC
#define BTCL &bt BT_CLR
#define BTCA &bt BT_CLR_ALL

&sk {
    quick-release;
};

&caps_word {
    continue-list = <UNDERSCORE MINUS BACKSPACE N0 N1 N2 N3 N4 N5 N6 N7 N8 N9>;
};

/ {
    macros {
        qu: qu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp Q &kp U>;
        };
    };

    behaviors {
        bd: bspc_del {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp BSPC>, <&kp DEL>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        de: dot_excl {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp EXCL>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        cq: comma_qmark {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp QMARK>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        qe: qmark_excl {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp QMARK>, <&kp EXCL>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        tg: tilde_grave {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp TILDE>, <&kp GRAVE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        zero {
            display-name = "night";

            bindings = <
                &none      &kp B      &kp F      &kp L      &kp K      &kp Q        &kp P      &kp G      &kp O      &kp U      &none      &none
                &none      &kp N      &kp S      &kp H      &kp T      &kp M        &kp Y      &kp C      &kp A      &kp E      &kp I      &none
                           &kp X      &kp V      &kp J      &kp D      &kp Z        &none      &kp W      &kp SQT    &cq        &de
                                                 &none      &sl 2      &kp SPACE    &kp R      &sl 1      &none
            >;
        };

        one {
            display-name = "nums";

            bindings = <
                &none      &none      &kp N9     &kp N8     &kp N7     &none        &kp AT     &kp HASH   &kp DLLR   &kp PRCNT  &none      &none
                &none      &kp N0     &kp N3     &kp N2     &kp N1     &none        &kp CARET  &sk RCTRL  &sk RSHFT  &sk RGUI   &sk RALT   &none
                           &none      &kp N6     &kp N5     &kp N4     &none        &none      &kp AMPS   &kp PIPE   &trans     &trans
                                                 &none      &sl 3      &trans       &trans     &none      &none
            >;
        };

        two {
            display-name = "navi";

            bindings = <
                &none      &none      &none      &none      &none      &none        &kp PG_UP  &none      &none      &none      &none      &none
                &none      &sk LALT   &sk LGUI   &sk LSHFT  &sk LCTRL  &none        &kp PG_DN  &kp LEFT   &kp UP     &kp RIGHT  &none      &tog 4
                           &none      &kp K_CUT  &kp K_COPY &kp K_PASTE &none       &none      &kp HOME   &kp DOWN   &kp END    &none
                                                 &none      &none      &trans       &trans     &sl 3      &none
            >;
        };

        three {
            display-name = "func";

            bindings = <
                &none      &none      BTSL 3     BTSL 2     BTSL 1     &none        &none      &kp F7     &kp F8     &kp F9     &kp F12    &none
                &none      &sk LALT   &sk LGUI   &sk LSHFT  &sk LCTRL  BOOT         BOOT       &kp F1     &kp F2     &kp F3     &kp F11    &none
                           BTCL       BTDS 3     BTDS 2     BTDS 1     BTCA         &none      &kp F4     &kp F5     &kp F6     &kp F10
                                                 &none      &none      &none        &none      &none      &none
            >;
        };

        four {
            display-name = "game";

            bindings = <
                &kp ESC    &kp T      &kp Q      &kp X      &kp E      &kp R        &kp Y      &kp U      &kp I      &kp O      &kp P      &kp RET
                &kp TAB    &kp LSHFT  &kp A      &kp W      &kp D      &kp F        &kp H      &kp J      &kp K      &kp L      &kp SEMI   &tog 4
                           &kp LCTRL  &kp Z      &kp S      &kp C      &kp V        &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH
                                                 &kp LALT   &kp SPACE  &kp B        &none      &kp BSPC   &none
            >;
        };
    };

    combos {
        compatible = "zmk,combos";

        equal  {
            require-prior-idle-ms = <100>;
            key-positions = <14 16>;
            bindings = <&kp EQUAL>;
            layers = <0 1 2>;
        };

        semi  {
            require-prior-idle-ms = <100>;
            key-positions = <19 21>;
            bindings = <&kp SEMI>;
            layers = <0 1 2>;
        };

        lshft  {
            require-prior-idle-ms = <100>;
            key-positions = <14 15>;
            bindings = <&sk LSHFT>;
            layers = <0 1 2>;
        };

        rshft  {
            require-prior-idle-ms = <100>;
            key-positions = <20 21>;
            bindings = <&sk RSHFT>;
            layers = <0 1 2>;
        };

        tab  {
            require-prior-idle-ms = <100>;
            key-positions = <15 16>;
            bindings = <&kp TAB>;
            layers = <0 1 2>;
        };

        bspc_del  {
            require-prior-idle-ms = <100>;
            key-positions = <19 20>;
            bindings = <&bd>;
            layers = <0 1 2>;
        };

        esc  {
            key-positions = <14 15 16>;
            bindings = <&kp ESC>;
            layers = <0 1 2>;
        };

        ret  {
            key-positions = <19 20 21>;
            bindings = <&kp RET>;
            layers = <0 1 2>;
        };

        caps_lock  {
            timeout-ms = <75>;
            key-positions = <15 20>;
            bindings = <&kp CAPS>;
            layers = <0>;
        };

        caps_word  {
            timeout-ms = <75>;
            key-positions = <16 19>;
            bindings = <&caps_word>;
            layers = <0>;
        };

        tilde  {
            key-positions = <14 25>;
            bindings = <&tg>;
            layers = <0 1 2>;
        };

        bslh  {
            key-positions = <21 32>;
            bindings = <&kp BSLH>;
            layers = <0 1 2>;
        };

        plus  {
            key-positions = <15 26>;
            bindings = <&kp PLUS>;
            layers = <0 1 2>;
        };

        minus  {
            key-positions = <20 31>;
            bindings = <&kp MINUS>;
            layers = <0 1 2>;
        };

        star  {
            key-positions = <16 27>;
            bindings = <&kp STAR>;
            layers = <0 1 2>;
        };

        fslh  {
            key-positions = <19 30>;
            bindings = <&kp FSLH>;
            layers = <0 1 2>;
        };

        lpar  {
            key-positions = <4 16>;
            bindings = <&kp LPAR>;
            layers = <0 1 2>;
        };

        rpar  {
            key-positions = <7 19>;
            bindings = <&kp RPAR>;
            layers = <0 1 2>;
        };

        lt  {
            key-positions = <5 17>;
            bindings = <&kp LT>;
            layers = <0 1 2>;
        };

        gt {
            key-positions = <6 18>;
            bindings = <&kp GT>;
            layers = <0 1 2>;
        };

        lbrc  {
            key-positions = <3 15>;
            bindings = <&kp LBRC>;
            layers = <0 1 2>;
        };

        rbrc  {
            key-positions = <8 20>;
            bindings = <&kp RBRC>;
            layers = <0 1 2>;
        };

        lbkt  {
            key-positions = <2 14>;
            bindings = <&kp LBKT>;
            layers = <0 1 2>;
        };

        rbkt {
            key-positions = <9 21>;
            bindings = <&kp RBKT>;
            layers = <0 1 2>;
        };
    };
};
