#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BOOT &bootloader
#define BTSL &bt BT_SEL
#define BTDS &bt BT_DISC
#define BTCL &bt BT_CLR
#define BTCA &bt BT_CLR_ALL

#define BASE 0
#define NUMS 1
#define NAVI 2
#define FUNC 3
#define GAME 4

#include "include/greg.h"
#include "include/combos.dtsi"

&sk {
    quick-release;
};

&caps_word {
    continue-list = <UNDERSCORE MINUS BACKSPACE N0 N1 N2 N3 N4 N5 N6 N7 N8 N9>;
};

/ {
    behaviors {
        de: dot_excl {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp EXCL>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        cq: comma_qmark {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp QMARK>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        zero {
            display-name = "night";

            bindings = <
                &none      &kp B      &kp F      &kp L      &kp K      &kp Q        &kp P      &kp G      &kp O      &kp U      &none      &none
                &none      &kp N      &kp S      &kp H      &kp T      &kp M        &kp Y      &kp C      &kp A      &kp E      &kp I      &none
                           &kp X      &kp V      &kp J      &kp D      &kp Z        &none      &kp W      &kp SQT    &cq        &de
                                                 &none      &sl 2      &kp SPACE    &kp R      &sl 1      &none
            >;
        };

        one {
            display-name = "nums";

            bindings = <
                &none      &none      &kp N9     &kp N8     &kp N7     &none        &kp AT     &kp HASH   &kp DLLR   &kp PRCNT  &none      &none
                &none      &kp N0     &kp N3     &kp N2     &kp N1     &none        &kp CARET  &sk RCTRL  &sk RSHFT  &sk RGUI   &sk RALT   &none
                           &none      &kp N6     &kp N5     &kp N4     &none        &none      &kp AMPS   &kp PIPE   &trans     &trans
                                                 &none      &sl 3      &trans       &trans     &none      &none
            >;
        };

        two {
            display-name = "navi";

            bindings = <
                &none      &none      &none      &none      &none      &none        &kp PG_UP  &none      &none      &none      &none      &none
                &none      &sk LALT   &sk LGUI   &sk LSHFT  &sk LCTRL  &none        &kp PG_DN  &kp LEFT   &kp UP     &kp RIGHT  &none      &tog 4
                           &none      &kp K_CUT  &kp K_COPY &kp K_PASTE &none       &none      &kp HOME   &kp DOWN   &kp END    &none
                                                 &none      &none      &trans       &trans     &sl 3      &none
            >;
        };

        three {
            display-name = "func";

            bindings = <
                &none      &none      BTSL 3     BTSL 2     BTSL 1     &none        &none      &kp F7     &kp F8     &kp F9     &kp F12    &none
                &none      &sk LALT   &sk LGUI   &sk LSHFT  &sk LCTRL  BOOT         BOOT       &kp F1     &kp F2     &kp F3     &kp F11    &none
                           BTCL       BTDS 3     BTDS 2     BTDS 1     BTCA         &none      &kp F4     &kp F5     &kp F6     &kp F10
                                                 &none      &none      &none        &none      &none      &none
            >;
        };

        four {
            display-name = "game";

            bindings = <
                &kp ESC    &kp T      &kp Q      &kp X      &kp E      &kp R        &kp Y      &kp U      &kp I      &kp O      &kp P      &kp RET
                &kp TAB    &kp LSHFT  &kp A      &kp W      &kp D      &kp F        &kp H      &kp J      &kp K      &kp L      &kp SEMI   &tog 4
                           &kp LCTRL  &kp Z      &kp S      &kp C      &kp V        &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH
                                                 &kp LALT   &kp SPACE  &kp B        &none      &kp BSPC   &none
            >;
        };
    };
};
