#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        zero { 
            display-name = "alphas";

            bindings = <
                &kp ESC &kp B &kp F &kp L      &kp K  &kp Q      &kp P   &kp G     &kp O    &kp U    &kp DOT   &kp RET
                &none   &kp N &kp S &kp H      &kp T  &kp M      &kp Y   &kp C     &kp A    &kp E    &kp I     &none
                        &kp X &kp V &kp J      &kp D  &kp Z      &kp SQT &kp W     &kp SEMI &kp FSLH &kp COMMA
                                    &sk LSHIFT &kp R  &mo 1      &mo 2   &kp SPACE &kp BSPC
            >;
        };
        one {
            display-name = "numbers";

            bindings = <
                &none &none    &kp STAR &kp PLUS  &none     &none      &none &kp N7 &kp N8 &kp N9 &none  &none
                &none &sk LGUI &sk LALT &sk LSHFT &sk LCTRL &kp EQUAL  &none &kp N4 &kp N5 &kp N6 &kp N0 &none
                      &none    &kp FSLH &kp MINUS &none     &none      &none &kp N1 &kp N2 &kp N3 &none
                                        &none     &none     &none      &none &none  &none
            >;
        };

        two {
            display-name = "symbols";

            bindings = <
                &none          &none    &none    &none    &none    &none    &none    &none    &none    &none    &none    &none
                &bootloader    &none    &none    &none    &none    &none    &none    &none    &none    &none    &none    &bootloader
                               &none    &none    &none    &none    &none    &none    &none    &none    &none    &none
                                                 &none    &none    &none    &none    &none    &none
            >;
        };

        three {
            display-name = "functions";

            bindings = <
                &none    &none    &none    &none    &none    &none    &none    &none    &none    &none    &none    &none
                &none    &none    &none    &none    &none    &none    &none    &none    &none    &none    &none    &none
                         &none    &none    &none    &none    &none    &none    &none    &none    &none    &none
                                           &none    &none    &none    &none    &none    &none
            >;
        };

        four {
            display-name = "navigation";

            bindings = <
                &none    &none    &none    &none    &none    &none    &none    &none    &none    &none    &none    &none
                &none    &none    &none    &none    &none    &none    &none    &none    &none    &none    &none    &none
                         &none    &none    &none    &none    &none    &none    &none    &none    &none    &none
                                           &none    &none    &none    &none    &none    &none
            >;
        };

        five {
            display-name = "bluetooth profiles";

            bindings = <
                &none    &none    &none    &none    &none    &none    &none    &none    &none    &none    &none    &none
                &none    &none    &none    &none    &none    &none    &none    &none    &none    &none    &none    &none
                         &none    &none    &none    &none    &none    &none    &none    &none    &none    &none
                                           &none    &none    &none    &none    &none    &none
            >;
        };
    };
};
